@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-main: #0c0c0c;
  --color-alt: #3c3d37;
  --color-text: #fff;
  --color-accent: #ff4e88;
  --hover-accent: #ff0080;
  --color-colt: #fcc737;
  --hover-colt: #dfdfdf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

input {
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

h1,
h3,
h3 {
  margin: 0;
  padding: 0;
}

button,
select {
  cursor: pointer;
}

input:hover,
textarea:hover {
  cursor: pointer;
}

input:focus,
textarea:focus {
  cursor: text;
}

@keyframes godModeMove {
  0%,
  100% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(3px) scale(1.05);
  }
  50% {
    transform: translateX(0) scale(1.1);
  }
  75% {
    transform: translateX(-3px) scale(1.05);
  }
}

.animate-god-mode {
  animation: godModeMove 3s ease-in-out infinite;
  display: inline-block;
}

@media (max-width:648px) {
  body {
    overflow: auto;
  }
}